body {
    background-color: #89a1cb;
    height: 100vh;
}

.background {
    background-color: #89a1cb;
}

.card-background {
    background-color: #6387c5;
}

.hero {
    background-color: #4F709C;
}

.font {
    color: white;
}

.about-font {
    color: rgb(192, 175, 175);
    font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}


.card-img-height {
    height: 150px;
    width: 150px;
}